<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PhotoTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhotoStudio.Properties.Settings>
            <setting name="StartFolder" serializeAs="String">
                <value>C:\Users\Public\Pictures\photoalbum\2008\xmas\</value>
            </setting>
        </PhotoStudio.Properties.Settings>
        <PhotoTest.Properties.Settings>
            <setting name="StartFolder" serializeAs="String">
                <value>C:\Users\Public\Pictures\photoalbum\2008\xmas\Family\</value>
            </setting>
        </PhotoTest.Properties.Settings>
    </applicationSettings>
</configuration>