<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoStudio.Properties.Settings>
            <setting name="LoadMethod" serializeAs="String">
                <value>new</value>
            </setting>
            <setting name="SaveMethod" serializeAs="String">
                <value>new</value>
            </setting>
        </PhotoStudio.Properties.Settings>
    </userSettings>
</configuration>